@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
	}

@keyframes type{ 
  0% { width: 0; } 
  100% {width: 100%;}
} 


.image {
	animation: rotating 3s linear infinite;
}

.backanimation {
	background-position: 0px 0px;
	animation: animatedBackground 40s linear infinite;
	font-family: myFirstFont;

}
