<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/destinationStylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
        <script src="script/destination.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/headerstyle.css">
    </head>
    <body ng-app="TabApp">
        <div class="container-fluid removePadding" style="height: 80vh;">
            <nav class="navbar navbar-default nav-lg" style="">
                <div class="container" style="border-bottom: 1px solid white">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Travel</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="index.html">Home</a></li>
                            <li><a href="destination.html">Destinations</a></li>
                            <li><a href="experience.html">Experiences</a></li> 

                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav> 

            <div id="myHeader" >
                <img class="img-responsive" src="images/slide5_1.jpg" style="position: fixed;z-index: -1;height: auto;width: 100%; background-size: cover;">
            </div>
            <div class="text">
                <div class="slide">
                    <h4 class="subtitle">Chyulu Hills, Kenya</h4>
					<h3 class="title">SUKAU RAINFOREST LODGE</h3>
                </div>
            </div>
        </div>

        <div class="mainbody">
            <div class="contentInner contentInnerTravel">
                <div class="inner">
                    <div class="top">
                        <div class="container">
                            <h4>Epic journeys</h4>
                            <h3>Tour du Mont Blanc - Self Guided (hotels and refugios)</h3>
                            <div class="features">
                                <div class="feature lodging">
                                    <img src="images/lodging.png" alt="lodging">
                                    <h5>Lodging</h5>
                                    <p>Hotels / Refugios</p>
                                </div>
                                <div class="feature night">
                                    <img src="images/night.png" alt="lodging">
                                    <h5>Nights</h5>
                                    <p>12 - 14</p>
                                </div>
                                <div class="feature party">
                                    <img src="images/trip.png" alt="lodging">
                                    <h5>Trip Details</h5>
                                    <p>Self Guided</p>
                                </div>
                                <div class="feature price">
                                    <img src="images/price.png" alt="lodging">
                                    <h5>Price</h5>
                                    <p>From $2,050 (per person, shared room) </p>
                                </div>
                                <div class="feature transport">
                                    <img src="images/transport.png" alt="lodging">
                                    <h5>Transport</h5>
                                    <p>Your Feet</p>
                                </div>
                                <div class="feature miles">
                                    <img src="images/miles.png" alt="lodging">
                                    <h5>Miles</h5>
                                    <p>3,881</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container"> 

                <div class="row">

                    <section id="poc" ng-controller="TabCtrl as tab">

                        <div>
                            <ul class="tabs"  >
                                <li class="tab text-center" ng-class="{'active': tab.isTab(1)}">
                                    <a href ng-click="tab.selectTab(1)">Experience</a>
                                </li>
                                <li class="tab text-center" ng-class="{'active': tab.isTab(2)}">
                                    <a href ng-click="tab.selectTab(2)">Itinery</a>
                                </li>
                                <li class="tab text-center" ng-class="{'active': tab.isTab(3)}">
                                    <a href ng-click="tab.selectTab(3)">Accomodation</a>
                                </li>
                                <li class="tab text-center" ng-class="{'active': tab.isTab(4)}">
                                    <a href ng-click="tab.selectTab(4)">Gallery</a>
                                </li>
                                <li>

                                    <a href="#myModal" role="button" class=" tab btn btn-lg btn-primary" data-toggle="modal">Inquire</a>
                                </li>
                            </ul>
                        </div>

                        <div class="panel text-center active" ng-show="tab.isTab(1)">
                            <div>
                                <h1 class="text-center"> Experience <h2>
                                        <h3 class="text-center" style="color:orange">  j o u r n e y </h3>
                                        <p>Each region of France has its own uniqueness that is waiting to be discovered, from distinctive villages, regional specialties of food and wine, history and landscape, Explore the regions of France and discover ideas and experiences that you want to include in a customized holiday.
                                            Don’t see what you want or have a special request, contact us and we can assist. France Journey’s has knowledgeable specialists who will fine tune your France travel experience just for you.</p> <br/>
                                        <h3 class="text-center" style="color:orange">  A c t i v i t i e s</h3>
                                        <br/> <br/>
                                        <div class="row"><div class="col-xs-3"><img src="img/trekking.png"><br/><h4>Trekking</h4></div>
                                            <div class="col-xs-9"><p> GR 20 is a long distance trail that traverses Corsica diagonally from north to south. It's 180km long with variation in height of about 10 000 metres and can be walked in 15 days. Even though the GR20 doesn't require any climbing techniques, perfect fitness level and confidence in walking over a variety of rugged terrains is necessary. <p>
                                            </div> <br/> <br/>
                                            <div class="row"><div class="col-xs-3"><img src="img/wildlife-viewing.png"><br/><h4>Trekking</h4></div>
                                                <div class="col-xs-9"><p> 
                                                        Ride the most famous climbs of the Tour de France on this 9-day adventure.Greet each day with new challenges and ride the legendary cols of Aubisque, Galibier, and the mythic Ventoux, along with the test of all tests: the gruelling ascent of Alpe d'Huez. This Classic Climbs trip offers scenic beauty, spectacular riding and the trip of a lifetime in classic Trek Travel style. <p>
                                                </div>
                                            </div>
                                            <h3 class="text-center" style="color:orange">  P l a c e </h3>
                                            <p>The Champagne-Ardenne region is situated in north-east of France along the French border with Belgium. Picardy and Paris are to the west, Burgundy to the south and Alsace-Lorraine to the east. The capital of the region is Chalons-en-Champagne in the Marne department.

                                                Despite the repeated invasions and conflicts that have affected this region across the centuries you will discover many historic towns, monuments and cathedrals, small traditional villages, and large areas of countryside that appear to have changed little across the years, as well as the famous wine chateaux of Champagne...
                                            </p>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="panel text-center" ng-show="tab.isTab(2)"><div class="container days-wrapper">
                                                <div class="line col-md-2 hidden-sm hidden-xs"></div>
                                                <div class="row day-wrapper">
                                                    <div class="col-md-2">
                                                        <p class="text-left text-uppercase">Day 1</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h2 id="it">Versailles</h2>
                                                        <p>Fly into Paris (save Paris sightseeing for the end of your trip), pick up your car, visit Giverny, and head to Honfleur (sleep in Honfleur)
                                                            Linger in Chamonix or take an early train* to Paris (7 hours) or, closer, Annecy (2 hours); last afternoon and night in Paris or Annecy (Geneva Airport is 2 hours by trains. Or make it a 22-day tour with a night in Burgundy </p>
                                                    </div>
                                                </div>  
                                                <div class="row day-wrapper">
                                                    <div class="col-md-2">
                                                        <p class="text-left text-uppercase">Day 2</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h2 id="it">Provence</h2>
                                                        <p>Morning in Honfleur, afternoon in Bayeux visiting its tapestry and cathedral. Dinner in Bayeux (sleep in Bayeux)</p>
                                                    </div>
                                                </div>
                                                <div class="row day-wrapper">
                                                    <div class="col-md-2">
                                                        <p class="text-left text-uppercase">Day 3</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h2 id="it">Chamonix</h2>
                                                        <p>Do a day trip, touring Chenonceau and Cheverny or Chaumont (or all three if you don't need time later in Amboise). Save time at the end of the day for sights in Amboise if you like (sleep in Amboise)</p>
                                                    </div>
                                                </div>
                                                <div class="row day-wrapper">
                                                    <div class="col-md-2">
                                                        <p class="text-left text-uppercase">Day 4</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h2 id="id">Normandy</h2>
                                                        <p>.Morning in Arles or Les Baux (by taxi or tour), afternoon train* to Nice via Marseille (4 hours; sleep in Nice).Illo aperiam, numquam. Doloribus enim rem pariatur voluptatibus, recusandae earum nihil maxime excepturi quasi animi magni! Quibusdam earum molestias provident suscipit perspiciatis!</p>
                                                    </div>
                                                </div>






                                            </div></div>
                                        <div class="panel text-center" ng-show="tab.isTab(3)">
                                            <div class="itemDisplayWrapper col-lg-4  col-lg-offset-4">

                                                <div class="itemDisplayImg" style ="background:url('img/franceR.jpg') no-repeat center;">     
                                                    <div class="itemDisplayHeart">
                                                        <div class="pull-right"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                                                    </div>

                                                    <div class="itemDisplayPropName">
                                                        Nottinghill Suites
                                                    </div>
                                                </div>

                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-object-ungroup" aria-hidden="true"></i> 1450 Sq.Ft.
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-bed" aria-hidden="true"></i> x3  &nbsp; &nbsp; &nbsp;
                                                        <i class="fa fa-bath" aria-hidden="true"></i> x4 
                                                    </div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-map-marker" aria-hidden="true"></i>  Vasanth Nagar, Bengaluru</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-money" aria-hidden="true"></i> Rs. 30,00,000</div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-building-o" aria-hidden="true"></i> by RMZ Developers</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <button type="button" class="exploreBtn">Explore More</button> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="itemDisplayWrapper col-lg-4  col-lg-offset-4">

                                                <div class="itemDisplayImg" style ="background:url('img/franceQ.jpeg') no-repeat center;">     
                                                    <div class="itemDisplayHeart">
                                                        <div class="pull-right"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                                                    </div>

                                                    <div class="itemDisplayPropName">
                                                        Fenway Suites
                                                    </div>
                                                </div>

                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-object-ungroup" aria-hidden="true"></i> 1450 Sq.Ft.
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-bed" aria-hidden="true"></i> x3  &nbsp; &nbsp; &nbsp;
                                                        <i class="fa fa-bath" aria-hidden="true"></i> x4 
                                                    </div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-map-marker" aria-hidden="true"></i>  Fenway, Boston</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-money" aria-hidden="true"></i> Rs. 30,00,000</div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-building-o" aria-hidden="true"></i> by hgh developers</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <button type="button" class="exploreBtn">Explore More</button> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="itemDisplayWrapper col-lg-4  col-lg-offset-4">

                                                <div class="itemDisplayImg" style ="background:url('img/francep.jpg') no-repeat center;">     
                                                    <div class="itemDisplayHeart">
                                                        <div class="pull-right"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                                                    </div>

                                                    <div class="itemDisplayPropName">
                                                        Queensberry Suites
                                                    </div>
                                                </div>

                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-object-ungroup" aria-hidden="true"></i> 1450 Sq.Ft.
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-bed" aria-hidden="true"></i> x3  &nbsp; &nbsp; &nbsp;
                                                        <i class="fa fa-bath" aria-hidden="true"></i> x4 
                                                    </div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-map-marker" aria-hidden="true"></i>  Queensberry, Boston</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-money" aria-hidden="true"></i> Rs. 30,00,000</div>
                                                </div>
                                                <div class="itemDisplayDetailLines">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><i class="fa fa-building-o" aria-hidden="true"></i> by yyu Developers</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <button type="button" class="exploreBtn">Explore More</button> 
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel text-center" ng-show="tab.isTab(4)">
<div class="container mt40">
    <section class="row">

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/nature/4" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery1.jpg" alt="Nature Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Nature Portfolio">Nature</a></h4>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/food/2" title="Food Portfolio" class="zoom" data-title="Delicious Food" data-footer="Whatever your desire" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery2.jpg" alt="Food Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Food Portfolio">Food</a></h4>
                    <span class="pull-right">
                        <i id="like2" class="glyphicon glyphicon-thumbs-up"></i> <div id="like2-bs3"></div>
                        <i id="dislike2" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike2-bs3"></div>
                    </span>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/sports/3" title="Sports Portfolio" class="zoom" data-title="Radical Sports" data-footer="This are the best moments" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery3.jpg" alt="Sports Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Sports Portfolio" title="Sports">Sports</a></h4>  
                    <span class="pull-right">
                        <i id="like3" class="glyphicon glyphicon-thumbs-up"></i> <div id="like3-bs3"></div>
                        <i id="dislike3" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike3-bs3"></div>
                    </span>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/people/1" title="People Portfolio" class="zoom" data-title="Beautiful People" data-footer="We create relationships" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery4.jpg" alt="People Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="People Portfolio">People</a></h4>  
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article>   
         <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/people/1" title="People Portfolio" class="zoom" data-title="Beautiful People" data-footer="We create relationships" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery5.jpg" alt="People Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="People Portfolio">People</a></h4>  
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article>   
         <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/people/1" title="People Portfolio" class="zoom" data-title="Beautiful People" data-footer="We create relationships" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery6.jpg" alt="People Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="People Portfolio">People</a></h4>  
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article>   
         <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/people/1" title="People Portfolio" class="zoom" data-title="Beautiful People" data-footer="We create relationships" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery7.jpg" alt="People Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="People Portfolio">People</a></h4>  
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article> 
        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="http://lorempixel.com/350/350/people/1" title="People Portfolio" class="zoom" data-title="Beautiful People" data-footer="We create relationships" data-type="image" data-toggle="lightbox">
                        <img src="img/gallery8.jpg" alt="People Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="People Portfolio">People</a></h4>  
                    <span class="pull-right">
                        <i id="like4" class="glyphicon glyphicon-thumbs-up"></i> <div id="like4-bs3"></div>
                        <i id="dislike4" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike4-bs3"></div>
                    </span>
                </div>
            </div>
        </article>                                              

</section>
</div>

                                        </div><!-- /row --> 
                                        </div>
            </div>
        </div>
        <section class="count-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li>
                                <span class="fa fa-heart-o"></span>
                                <h2><span id="counter1"></span></h2>
                                <h4>Happy Clients</h4>
                            </li>
                            <li>
                                <i class="fa fa-bed"></i>
                                <h2><span id="counter2"></span></h2>
                                <h4>Popular Hotes</h4>
                            </li>
                            <li>
                                <i class="fa fa-flag-checkered"></i>
                                <h2><span id="counter3"></span></h2>
                                <h4>Top Destinations</h4>
                            </li>
                            <li>
                                <i class="fa fa-ship"></i>
                                <h2><span id="counter4"></span></h2>
                                <h4>Cruises</h4>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <br/>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p><h1>Social</h1></p>
                        <p><i class="fa fa-facebook-square fa-2x fa-3x " aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-instagram fa-2x fa-3x " aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-twitter-square fa-2x fa-3x" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p><h1>Information</h1></p>
                        <p ><ul class="info">
                            <li>Terms & Conditions</li>
                            <li>About us</li>
                            <li>Copyright</li>
                        </ul></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p><h1>Contact us</h1></p>
                        <p class="info"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; (617)-309-XXXX</p>
                        <p class="info"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; bhar.m@husky.neu.edu</p>
                        <p><div style="display: inline-block;"><i class="fa fa-location-arrow fa-2x " aria-hidden="true"></i></div>&nbsp;&nbsp;<div style="display: inline-block;"><p class="info">360 huntington avenue<br>Boston MA 02120</p></div></p>
                    </div>
                </div>
            </div>
        </footer>


        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Inquire - Help yourself</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"
                                        for="inputEmail3">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" 
                                           id="inputEmail3" placeholder="Email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="inputPassword3" >Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                           id="inputPassword3" placeholder="Password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="inputPassword3" >Query</label>
                                <div class="col-sm-10">

                                    <div ng-app ng-controller="Controller">
                                        <select ng-model="myDropDown">
                                            <option value="inquire">I would like to enquire about specific question </option>
                                            <option value="specific">I would like to Know about a specific journey</option>
                                            <option value="expert">Talk to expert- Specific destination</option>
                                        </select>
                                        <textarea ng-show="myDropDown == 'inquire'" rows="4" cols="50" placeholder="Drop us question and we will revert back to you">

                                        </textarea>

                                        <div ng-show="myDropDown == 'specific'" class="colors" >
                                            <label for="select">  Choose a Location: </label> <select>
                                                <option value="dest1">Country1 </option>
                                                <option value="dest2">country1</option>
                                                <option value="dest3">country2</option>

                                            </select><br/>
                                            <label for="start">Start Date : </label><input id="start" type="date" value="2016-12-12"/>
                                            <label for="end">End Date : </label><input id="end" type="date" value="2016-12-28"/> 
                                        </div>
                                        <div ng-show="myDropDown == 'expert'" class="colors">
                                            E-mail: <input type="email" name="usremail"><br/>
                                            Query:  <input type="text" name="query">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>

            angular
                    .module('TabApp', []);

            angular
                    .module('TabApp')
                    .controller('TabCtrl', TabCtrl);

            angular
                    .module('TabApp')
                    .controller('Controller', Controller);

            function TabCtrl() {
                //we store our controller instance in the vm variable (ViewModel)
                var vm = this;

                //make tab a property of TabCtrl & set an initial value
                //hint: comparable to ng-init
                vm.tab = 1;

                //create a function expression, creating the assignment logic
                vm.selectTab = function (setTab) {
                    //make tab equal to setTab 
                    vm.tab = setTab;
                };

                //create a function for our comparison
                vm.isTab = function (checkTab) {
                    return vm.tab === checkTab;
                };
            }
            ;


            function Controller($scope) {
                $scope.myDropDown = 'inquire';
            }

            $('#myModal').on('show.bs.modal', function () {
                $('.container').addClass('blur');
            })

            $('#myModal').on('hide.bs.modal', function () {
                $('.container').removeClass('blur');
            });



        </script>
        <script type="text/javascript">
            $(document).ready(function() {              
    $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function(){    
        var $this = $(this),
        c = $this.data('count');    
        if (!c) c = 0;
        c++;
        $this.data('count',c);
        $('#'+this.id+'-bs3').html(c);
    });      
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });                                        
}); 
        </script>
    </body>
</html>